<div class="footer-ftc">
  <p>A Limited Liability Company registered in England with Company Registration Number 11309331</p>
  <p>FT Corporation Ltd, Belsyre Court 1st Floor,<br>57 Woodstock Rd, OXFORD OX2 6HJ<br>United Kingdom</p>
</div>
