<div class="about-background">

  <div class="main-text">
    <h1>Our Background</h1>
    <h3>Chinese Culture, Global Trade</h3>
  </div>

  <div class="main-text">
    <h5>FT Corporation is named in honour of the first Chinese person to visit England.<br><br><br><br>Shen Fu Tsung travelled from China to France in the 1680's, where he taught King Louis XIV how to write Chinese calligraphy and how to use chopsticks.<br><br><br><br>From France he crossed the Channel to England in 1685, where he met King James II who was so fascinated by the meeting that he commissioned a protrait of Shen Fu Tsung by Sir Godfrey Kneller. Shen remained in England for a few years, living in Oxford and collaborating with the university's Bodleian Library to catalogue their Chinese manuscripts.</h5>
  </div>

  <div class="main-text">
    <h5>FT Corporation continues Shen's work, with the view that understanding each other's cultures will lead to the best political and trade relationships. <br><br><br><br>FT Corporation works closely with a few key partners and funds who have specialised expertise in their sectors and geographies. We advise on cross-border M&A, biotech, medtech, and fintech investments, operations and logisitcs, energy and raw materials, and work with think-tanks on global issues. We manage some operations directly as in-house projects or as local-partner managemers.</h5>
  </div>

</div>
