<div class="contact-background">

  <div class="main-text">
    <h1>Talk To Us</h1>
    <h3>Chinese Culture, Global Trade</h3>
  </div>

  <div class="main-text">
    <h4>-contact@FTCorporation.co.uk-</h4>
  </div>

  <div class="main-text">
    <h4>FT Corporation Ltd<br>OXFORD<br>United Kingdom</h4>
  </div>

</div>
