<div class="home-background">

  <div class="main-text">
    <h1>FT Corporation</h1>
    <h3>Chinese Culture, Global Trade</h3>
  </div>

  <div class="main-text">
    <h5>From headquarters in Oxford, England, FT Corporation works with partners in China and around the world. <br><br><br><br>Investing into China and collaborating with Chinese companies expanding abroad both require specialist skills to bring about the best results for companies, their stakeholders, and society at large.  <br><br><br><br>At FT Corporation we value the cultures of all peoples around the world and try to make cultural understanding the basis of our engagements. Whether we are advising on a transaction or managing operations directly, we use our relationships to create the best possible understanding.</h5>
  </div>

</div>
